
.Home-title {
	padding-top:1px;
	font-weight:bold;
	font-size: 30px;
	color:#6184c6;
}

.Home-item {
	font-size: 20px;
	color:#6184c6;
	font-size: 22.5px;
	text-indent:2em;
}

.Home-keyword {
	font-weight:bold;
	color:#cb8a90;
}

.remark {
	font-size: 18px;
}

.prodict-link {
	color:#6184c6;
	text-decoration:underline;
}

@media screen and (max-width: 600px) {
	.Home-item {
		font-size: 18px;
	}
	.remark {
		font-size: 15px;
	}
}
