
main {
	text-align:center;
}

.portfolio-title {
	font-weight:bold;
	font-size: 25px;
	color:#6184c6;
	width:wrap;
	height:80px;
}

.portfolio-img {
	width:500px;
	height:333px;
}

@media screen and (max-width: 600px) {
	.portfolio-img {
		width:167px;
		height:111px;
	}
	.portfolio-title {
		height:27px;
		font-size: 14px;
	}
}
